.container {
    padding-left: 20px;
    flex: 8;
}
.label-page {
    font-size: 25px;
    padding-bottom: 20px;
}
.group-information {
    padding-top: 25px;
}
.group-orderView {
    padding: 10px;
    border-bottom: 1px solid #cac8c8;

    label {
        font-weight: 500;
    }
}
.table-product {
    padding: 10px;
}
.orderView-total {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    label {
        font-size: 20px;
        font-weight: 500;
    }

    span {
        font-size: 20px;
        font-weight: 500;
        padding-right: 200px;
    }
}
